*{
    padding: 0;
    margin: 0;
}



/*----------------------------------------------------------*/
body{
 display: grid;
    grid-template-areas:  
    "header "
    "main "
    "footer"
    ;
   
    background-image: url(../img/FondoHome.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
/*------------------------------HEADER MENU DE NAVEGACION----------------------*/
header{
    background-color: rgba(1, 1, 1, 0.805);
/* rgb(11, 11, 11);*/
    color: white;
    grid-area: header;   
     
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 10px;
    
    
}
.navbar-toggler{
    
    background-color: rgba(101, 101, 101, 0.862);
}


/*----------------------Main de las paginas-----------------------------------*/

section{ 
    color: white;
    margin-left: 50px;
}

/* --------------------ESTILO DE LA PAGINA "HOME"------------------------------ */
.Presentacion {
    margin-top: 20px;
    margin-left: 50px;
}
.Presentacion h1{
    color: rgb(3, 3, 3);
   
}
.Presentacion p{
    color: rgb(3, 3, 3);
   
}



/* --------------------ESTILO DE LA PAGINA "ACERCA DE"------------------------------ */
/*----------------------MAIN DE LA PAGINA "ACERCA DE"------------------------------*/
.MainAcercaDe{
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "Inicio  Presentacion2 Presentacion2"
    "Habilidades Habilidades Habilidades"
    "HorasDeSoporte Proyectos ClientesFelices";
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px ;
}

/*-----------------------------INICIO--------------------*/
.Inicio{
    padding-top: 30px;
    grid-area: Inicio;
    margin: 20PX;
    
}
.Inicio img{
    width: 240px;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    
}


h1{
    text-decoration: underline;
    color: rgb(0, 255, 0);
}
/*-------------------------PRESENTACION------------------------*/
.Presentacion2{
    
    margin: 10px;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color:rgba(50, 193, 6, 0.463);
    padding: 30px;
    justify-items: center;
    grid-area: Presentacion2;
     
 
    
   
}
.Presentacion2 h2{
 text-decoration:underline;
 

}
.Presentacion2 p{
    padding-top: 10px;
    padding-left: 10px;
}

/*--------------------------------HABILIDADES---------------------*/
.Habilidades{
    
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    width: 95%;
    /*justify-items: center;*/
    padding: 10px;
    grid-area: Habilidades;
     
    margin: 20px;  
}
.Habilidades ul {
    list-style: none;
}
.progress{
    margin: 20px;
}
.Habilidades h2{
    text-align: center;
    text-decoration: underline;
   
}
.Habilidades h3{
    margin: 20px;
}
/*--------------------------------HORAS DE SOPORTE-----------------*/

.HorasDeSoporte{
   
    padding: 10px;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    
   
    grid-area: HorasDeSoporte;
    margin: 10px;
    justify-content: center; 
    text-align: center;
}

/*-------------------------------PROYECTOS---------------*/
.Proyectos{
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color:rgba(50, 193, 6, 0.463);
    
   
    padding: 10px;
    grid-area: Proyectos;
    margin: 10px;
    justify-content: center;
    text-align: center;
    
   
}
/*----------------------------CLIENTES FELICES-------------------*/
.ClientesFelices{
   
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    margin: 10px;
    justify-content: center;
    padding: 10px;
    grid-area: ClientesFelices;
   
    text-align: center;
    
    
}

/* --------------------ESTILO DE LA PAGINA "REANUDAR"------------------------------ */

/*----------------------MAIN DE LA PAGINA "REANUDAR"------------------------------*/
.MainReanudar{
    
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Resumen Resumen"
    "Educacion  ExperienciaLaboral"
    ;
    
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    grid-area: main;
}
.ReanudarTitulo{
    grid-area:Titulo ;
    
   
}

.Resumen{
    margin: 15px;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color:  rgba(50, 193, 6, 0.463);
    justify-content: center;
    width: 47%;
    padding: 20px;
    grid-area: Resumen;
    
}
.Resumen h4{
    color: rgb(3, 168, 3);
    
    
}
.Resumen p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.Educacion{
    margin: 15px;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color:  rgba(50, 193, 6, 0.463);
    padding: 20px;
    grid-area: Educacion;
}
.Educacion h4{
    color: rgb(3, 168, 3); 
}
.Educacion p {
    padding-top: 5px;
    padding-bottom: 5px;

}
.ExperienciaLaboral{
    margin: 15px;
    background-color:  rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color:  rgba(50, 193, 6, 0.463);
    padding: 20px;
    grid-area: ExperienciaLaboral;
    
    

    
}
.ExperienciaLaboral h4{
    color: rgb(3, 168, 3);
}
.ExperienciaLaboral p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.badge{
    background-color: rgba(128, 128, 128, 0.479);
    margin: 5px;
   
}
/*----------------------ESTILO DE LA PAGINA "PORTAFOLIO"-----------------------*/
.MainPortafolio{
    display: grid;
    grid-template-areas: 
    "Titulo "
    "Trabajo ";
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    grid-area: main;
}
.TituloPortafolio{
    grid-area: Titulo;
    margin: 10px;
    
    
}
#carouselExampleFade{
    grid-area: Trabajo;
    height: 500px;
    width: 600px;
    margin: 10px;
  
}

#carouselExampleFade img{
    
    height: 500px;
    width: 600px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(14, 113, 36, 0.712);
}

/*.Trabajo{
    grid-area: Trabajo;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;  
}
.Trabajo img{
    width: 250px;
    height: 250px ;
    border-radius: 10px;
    margin: 20px;
   
   
}
*/
/*----------------------------ESRTILO DE PAGINA "CONTACTO"------------------------------*/
/*.Formulario{
     background-color: rgba(24, 23, 23, 0.76);
     margin-top: 10px;
     padding: 30px;
     width: 400px;
     border-radius: 10px;
}*/
.MainContacto{
display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Direccion Perfiles"
    "Email Telefono"
    "Formulario Formulario";
    background-color: rgba(24, 23, 23, 0.484);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    grid-area: main;
}
/*--------------------FORMULARIO---------------*/
.Formulario{
    background-color: rgba(24, 23, 23, 0.57);
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(50, 193, 6, 0.463);
    padding: 10px;
    margin: 10px;
    grid-area: Formulario;
    justify-content: center;


}
/*-----------------------CONTROLES DEL FORMULARIO--------------------------*/
.ControlNombre{
   
    width: 45%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
    
   
}
.ControlEmail{
   
    width: 54%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
}

.ControlSujeto{
   
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
}
.ControlMensaje{
    
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
}
.btn{
    
    margin-top: 10px;
    background-color: rgb(3, 168, 3);
    padding: 10px;

}
/*------------------TITULO DE LA PAGINA-------------*/
.Titulo{
     grid-area: Titulo;;
}
/*-----------------EMAIL----------------------------*/
.Email{
    grid-area: Email;
    background-color: rgba(24, 23, 23, 0.76);
    padding: 20px;
    
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    margin: 10px;
    justify-content: center;
}
/*---------------------NUMERO DE TELEFONO-----------------*/
.NumeroTel{
    grid-area: Telefono;
    background-color: rgba(24, 23, 23, 0.76);
    padding: 10px;
    
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    margin: 10px;
    justify-content: center;

}

/*--------------------SOCIAL------------------------*/
.Social{
    grid-area: Perfiles;
    background-color: rgba(24, 23, 23, 0.76);
    padding: 10px;
    margin: 10px;
    
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    margin-top: 10px;
    justify-content: center;
}
.Social a{
    color: white;
    text-decoration: none;
    margin: 5px;   
}
.ListaRedes {
    list-style: none;
    display: flex;
   
}

/*--------------------DIRECCION--------------------*/
.Direccion{
    grid-area: Direccion;
    background-color: rgba(24, 23, 23, 0.76);
    padding: 10px;
    
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(50, 193, 6, 0.463);
    margin: 10px;
    justify-content: center;
}

/*--------------------QUERY RESPONSIVE VISTA MOVIL----------------*/
@media  (min-width: 320px) and (max-width: 480px) {
    body{
       
       grid-template-areas:  
       "header"
       "main"
       "footer"
       ;
   
       background-image: url(../img/FondoHome.jpg);
       background-position: center;
       background-size: cover;
       background-repeat:no-repeat;
       background-attachment: fixed;
       height: 100%;
       width: 100%;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 
    .MainAcercaDe{
   
       
       grid-template-areas: 
       "Inicio " 
       "Presentacion2"
       "Habilidades"
       "HorasDeSoporte"
       "Proyectos"
       "ClientesFelices";
       justify-items: center;
       background-color: rgba(24, 23, 23, 0.76);
       border-radius: 10px;
       border-style: solid;
       border-color: black;
       margin: 20px ;
    }
    
    .MainReanudar{
       grid-template-areas: 
       "Titulo"
       "Resumen"
       "Educacion "
       "ExperienciaLaboral"
       ;
       justify-content: center;
       background-color: rgba(24, 23, 23, 0.76);
       border-radius: 10px;
       border-style: solid;
       border-color: black;
       margin: 20px;
   }
   .Resumen{
    
    
    width: 90%;
    padding: 20px;
    grid-area: Resumen;
    
}
   .MainPortafolio{
       display: grid;
       grid-template-areas: 
       "Titulo Titulo Titulo"
       "Trabajo Trabajo Trabajo";
       background-color: rgba(24, 23, 23, 0.76);
       border-radius: 10px;
       border-style: solid;
       border-color: black;
       margin: 20px;
       grid-area: main;
   }
   .Trabajo{
       grid-area: Trabajo;
       justify-content: center;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       padding-bottom: 20px;  
   }
   /*--------RESPONSIVE PAGINA "CONTACTO"--------------*/
   .MainContacto{
    grid-template-areas: 
    "Titulo "
    "Direccion "
    "Perfiles"
    "Telefono"
    "Email"
    "Formulario";
   }
   .ControlNombre{
   
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
    
   
}
.ControlEmail{
   
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
}

.ControlSujeto{
   
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
}
.ControlMensaje{
    
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
}
.ListaRedes {
    margin: 5px;
}
} 

/*footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    flex-direction:row;
    
    border-style: solid;
    border-color: black;
    

}
footer a{
    text-decoration: none;
    color: white;
    padding: 10px; 
    
}*/
