* {
  padding: 0;
  margin: 0;
}

/*---------------------VARIABLES------------------*/
/*--------------------ESTILOS DE LOS FONDOS DEL MAIN-----*/
/*--------------------------BODY--------------------------------*/
body {
  display: grid;
  grid-template-areas: "header " "main " "footer";
  background-image: url(../img/FondoHome.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

/*------------------------------HEADER MENU DE NAVEGACION----------------------*/
header {
  background-color: rgba(0, 0, 0, 0.827);
  grid-area: header;
}
header .navbar-toggler {
  background-color: gray;
}
header .nav-item {
  /*background-color: rgba(243, 158, 79, 0.808);*/
  border-radius: 10px;
  border-style: solid;
  margin: 8px;
  border-color: rgba(102, 102, 102, 0.832);
  transition: 0.5s;
}
header .nav-item .nav-link {
  color: white;
}
header .nav-item:hover {
  transform: scale(1.2);
}

/*----------------------------FOOTER----------------------------*/
.mainFooter {
  background-color: rgb(0, 0, 0);
  grid-area: footer;
  display: grid;
  grid-template-areas: "derechos redes";
}
.mainFooter .derchos {
  grid-area: derechos;
  margin: 30px;
}
.mainFooter .listaredes {
  grid-area: redes;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.mainFooter .listaredes li {
  list-style: none;
  margin: 5px;
  transition: 1s;
}
.mainFooter li:hover {
  transform: scale(2);
}

/* --------------------ESTILO DE LA PAGINA "HOME"------------------------------ */
/*.mainhome{*/
.Presentacion {
  margin-top: 20px;
  margin-left: 50px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  grid-area: main;
  width: 200px;
}
.Presentacion h1 {
  color: white;
  padding: 10px;
}
.Presentacion p {
  color: white;
  padding: 10px;
}

/*}*/
/* --------------------ESTILO DE LA PAGINA "ACERCA DE"------------------------------ */
.mainAcercaDe {
  grid-area: main;
  display: grid;
  grid-template-areas: "inicio  presentacion2 presentacion2" "Habilidades Habilidades Habilidades" "HorasDeSoporte Proyectos ClientesFelices";
  justify-items: center;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  grid-area: main;
  /*-----------------------------INICIO--------------------*/
  /*-------------------------PRESENTACION------------------------*/
  /*--------------------------------HABILIDADES---------------------*/
  /*--------------------------------HORAS DE SOPORTE-----------------*/
  /*-------------------------------PROYECTOS---------------*/
  /*----------------------------CLIENTES FELICES-------------------*/
}
.mainAcercaDe .inicio {
  padding-top: 30px;
  grid-area: inicio;
  margin: 20PX;
  transition: 1s;
}
.mainAcercaDe .inicio img {
  width: 240px;
  height: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(15, 135, 15, 0.649);
}
.mainAcercaDe .inicio h1 {
  text-decoration: underline;
  color: rgba(255, 136, 1, 0.877);
}
.mainAcercaDe .presentacion2 {
  margin: 5px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 30px;
  justify-items: center;
  grid-area: presentacion2;
  transition: 1s;
}
.mainAcercaDe .presentacion2 h2 {
  text-decoration: underline;
}
.mainAcercaDe .presentacion2 p {
  padding-top: 10px;
  padding-left: 10px;
}
.mainAcercaDe .presentacion2 ul {
  list-style: none;
}
.mainAcercaDe .habilidades {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  width: 95%;
  /*justify-items: center;*/
  padding: 10px;
  grid-area: Habilidades;
  margin: 20px;
  transition: 1s;
}
.mainAcercaDe .habilidades .progress {
  margin: 20px;
  height: 20px;
}
.mainAcercaDe .habilidades .progress .progress-bar {
  background-color: rgba(255, 136, 1, 0.877);
}
.mainAcercaDe .habilidades h2 {
  text-align: center;
  text-decoration: underline;
}
.mainAcercaDe .habilidades h3 {
  margin: 20px;
}
.mainAcercaDe .HorasDeSoporte {
  padding: 10px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  grid-area: HorasDeSoporte;
  margin: 10px;
  justify-content: center;
  text-align: center;
  transition: 1s;
}
.mainAcercaDe .Proyectos {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 10px;
  grid-area: Proyectos;
  margin: 10px;
  justify-content: center;
  text-align: center;
}
.mainAcercaDe .ClientesFelices {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
  padding: 10px;
  grid-area: ClientesFelices;
  text-align: center;
  transition: 1s;
}
.mainAcercaDe .ClientesFelices:hover {
  transform: scale(1.1);
}

/* --------------------ESTILO DE LA PAGINA "REANUDAR"------------------------------ */
.MainReanudar {
  display: grid;
  grid-template-areas: "Titulo Titulo" "Resumen Resumen" "Educacion  ExperienciaLaboral";
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  grid-area: main;
}

.ReanudarTitulo {
  grid-area: Titulo;
  margin: 10px;
}
.ReanudarTitulo h1 {
  color: rgba(255, 136, 1, 0.877);
}

.Resumen {
  margin: 15px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  justify-content: center;
  width: 47%;
  padding: 20px;
  grid-area: Resumen;
  transition: 1s;
}
.Resumen h4 {
  color: rgb(3, 168, 3);
}
.Resumen p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Resumen:hover {
  transform: scale(1.02);
}

.Educacion {
  margin: 15px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 20px;
  grid-area: Educacion;
  transition: 1s;
}
.Educacion h4 {
  color: rgb(3, 168, 3);
}
.Educacion p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Educacion:hover {
  transform: scale(1.02);
}

.ExperienciaLaboral {
  margin: 15px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 20px;
  grid-area: ExperienciaLaboral;
  transition: 1s;
}
.ExperienciaLaboral h4 {
  color: rgb(3, 168, 3);
}
.ExperienciaLaboral p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.badge {
  background-color: rgba(128, 128, 128, 0.479);
  margin: 5px;
}

.ExperienciaLaboral:hover {
  transform: scale(1.02);
}

/*----------------------ESTILO DE LA PAGINA "PORTAFOLIO"-----------------------*/
.MainPortafolio {
  display: grid;
  grid-template-areas: "Titulo " "Trabajo ";
  justify-content: center;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  grid-area: main;
}
.MainPortafolio .TituloPortafolio {
  grid-area: Titulo;
  margin: 10px;
}
.MainPortafolio .TituloPortafolio h1 {
  color: rgba(255, 136, 1, 0.877);
}
.MainPortafolio .card {
  margin: 20px;
  border-color: green;
  background-color: rgba(0, 0, 0, 0.741);
  transition: 2s;
}
.MainPortafolio .card .card-body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.MainPortafolio .card .card-body h5 {
  text-decoration: underline;
}
.MainPortafolio .card .card-body .btn {
  background-color: blue;
  color: white;
  border-style: solid;
  border-color: black;
  transition: 1s;
}
.MainPortafolio .card:hover {
  transform: scale(1.05);
}
.MainPortafolio .btn:hover {
  transform: scale(1.05);
}

/*----------------------------ESRTILO DE PAGINA "CONTACTO"------------------------------*/
.conteiner {
  display: grid;
  grid-template-areas: "titulo titulo" "direccion perfiles" "email telefono" "formulario formulario";
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  grid-area: main;
  /*--------------------FORMULARIO---------------*/
  /*------------------TITULO DE LA PAGINA-------------*/
  /*-----------------EMAIL----------------------------*/
  /*---------------------NUMERO DE TELEFONO-----------------*/
  /*--------------------SOCIAL------------------------*/
  /*--------------------DIRECCION--------------------*/
}
.conteiner .titulo_contacto {
  margin: 10px;
}
.conteiner .titulo_contacto h1 {
  color: rgba(255, 136, 1, 0.877);
}
.conteiner .formulario {
  background-color: rgba(24, 23, 23, 0.57);
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 10px;
  margin: 10px;
  grid-area: formulario;
  justify-content: center;
  /*-----------------------CONTROLES DEL FORMULARIO--------------------------*/
}
.conteiner .formulario .control_nombre {
  width: 45%;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(223, 220, 220, 0.89);
}
.conteiner .formulario .control_email {
  width: 54%;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(223, 220, 220, 0.89);
}
.conteiner .formulario .control_sujeto {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: rgba(223, 220, 220, 0.89);
}
.conteiner .formulario .control_mensaje {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  padding: 8px;
  background-color: rgba(223, 220, 220, 0.89);
}
.conteiner .formulario .btn {
  margin-top: 10px;
  background-color: rgb(3, 168, 3);
  padding: 10px;
}
.conteiner .titulo {
  grid-area: titulo;
}
.conteiner .email {
  grid-area: email;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
}
.conteiner .numero_tel {
  grid-area: telefono;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
}
.conteiner .social {
  grid-area: perfiles;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin-top: 10px;
  justify-content: center;
  transition: 1s;
}
.conteiner .social .lista_redes {
  list-style: none;
  display: flex;
}
.conteiner .social .lista_redes a {
  color: white;
  text-decoration: none;
  margin: 5px;
}
.conteiner .direccion {
  grid-area: direccion;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
}

/*--------------------QUERY RESPONSIVE VISTA MOVIL----------------*/
@media (min-width: 480px) and (max-width: 991px) {
  .nav-item {
    /*background-color: rgba(243, 158, 79, 0.808);*/
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(102, 102, 102, 0.832);
    width: 100px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    grid-template-areas: "header" "main" "footer";
    background-image: url(../img/FondoHome.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  /*---------------------RESPONSIVE HEADER-------------------------------*/
  .nav-item {
    /*background-color: rgba(243, 158, 79, 0.808);*/
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(102, 102, 102, 0.832);
    width: 100px;
    text-align: center;
  }
  /*-------------------------RESPONSIVE ACERCA DE-------------------*/
  .mainAcercaDe {
    grid-template-areas: "inicio " "presentacion2" "Habilidades" "HorasDeSoporte" "Proyectos" "ClientesFelices";
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
  }
  /*-----------------------RESPONSIVE REANUDAR--------------------*/
  .MainReanudar {
    grid-template-areas: "Titulo" "Resumen" "Educacion " "ExperienciaLaboral";
    justify-content: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
  }
  .MainReanudar .Resumen {
    width: 90%;
    padding: 20px;
    grid-area: Resumen;
  }
  /*--------RESPONSIVE PAGINA "CONTACTO"--------------*/
  .MainContacto {
    grid-template-areas: "Titulo " "Direccion " "Perfiles" "Telefono" "Email" "Formulario";
  }
  .MainContacto .ControlNombre {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .MainContacto .ControlEmail {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .MainContacto .ControlSujeto {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .MainContacto .ControlMensaje {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .MainContacto .ListaRedes {
    margin: 5px;
  }
  /*----------------RESPOSIVE PAGINA PORTAFOLIO--------------------*/
  .MainPortafolio {
    display: grid;
    grid-template-areas: "Titulo " "Trabajo ";
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 20px;
    grid-area: main;
  }
  .MainPortafolio .TituloPortafolio {
    grid-area: Titulo;
    margin: 10px;
  }
  .mainFooter {
    grid-template-areas: "derechos " "redes";
    margin-bottom: 2px;
  }
  .listaredes {
    grid-area: redes;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .listaredes li {
    list-style: none;
    margin: 5px;
  }
}
/*footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    flex-direction:row;

    border-style: solid;
    border-color: black;


}
footer a{
    text-decoration: none;
    color: white;
    padding: 10px; 

}*/

/*# sourceMappingURL=styles.css.map */
