/*---------------------VARIABLES------------------*/
/*--------------------ESTILOS DE LOS FONDOS DEL MAIN-----*/
/*--------------------------BODY--------------------------------*/
body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "header " "main " "footer";
  display: flex;
  flex-direction: column;
  min-height: auto;
  background-image: url(../img/Fondo-min.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

/*------------------------------HEADER MENU DE NAVEGACION----------------------*/
header {
  background-color: rgba(0, 0, 0, 0.827);
  grid-area: header;
}
header .navbar-toggler {
  background-color: gray;
}
header .nav-item {
  /*background-color: rgba(243, 158, 79, 0.808);*/
  border-radius: 10px;
  border-style: solid;
  margin: 8px;
  border-color: rgba(102, 102, 102, 0.832);
  transition: 0.5s;
}
header .nav-item .nav-link {
  color: white;
}
header .nav-item:hover {
  transform: scale(1.2);
}

/*----------------------------FOOTER----------------------------*/
.mainFooter {
  background-color: rgb(0, 0, 0);
  grid-area: footer;
  bottom: 0;
  display: grid;
  grid-template-areas: "derechos" "redes";
  margin-bottom: 0;
}
.mainFooter .derchos {
  grid-area: derechos;
  text-align: center;
  margin: 5px;
}
.mainFooter .listaredes {
  grid-area: redes;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.mainFooter .listaredes li {
  list-style: none;
  margin: 5px;
}

/* --------------------ESTILO DE LA PAGINA "HOME"------------------------------ */
.mainhome {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainhome .presentacion {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(71, 69, 69);
  margin: 20px;
  grid-area: main;
  height: min-content;
  margin: 20px;
  padding: 5px;
  text-align: center;
}
.mainhome .presentacion h1 {
  color: rgba(255, 136, 1, 0.877);
  padding: 10px;
}
.mainhome .presentacion p {
  color: white;
  padding: 10px;
}

/* --------------------ESTILO DE LA PAGINA "ACERCA DE"------------------------------ */
.main_acerca_de {
  grid-area: main;
  display: grid;
  grid-template-areas: "inicio  presentacion2 presentacion2" "habilidades habilidades habilidades" "horas_de_soporte proyectos clientes_felices";
  justify-items: center;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(71, 69, 69);
  margin: 20px;
  grid-area: main;
  /*-----------------------------INICIO--------------------*/
  /*-------------------------PRESENTACION------------------------*/
  /*--------------------------------HABILIDADES---------------------*/
  /*--------------------------------HORAS DE SOPORTE-----------------*/
  /*-------------------------------PROYECTOS---------------*/
  /*----------------------------CLIENTES FELICES-------------------*/
}
.main_acerca_de .inicio {
  padding-top: 30px;
  grid-area: inicio;
  margin: 20px;
}
.main_acerca_de .inicio img {
  width: 240px;
  height: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(15, 135, 15, 0.649);
}
.main_acerca_de .inicio h1 {
  text-decoration: underline;
  color: rgba(255, 136, 1, 0.877);
}
.main_acerca_de .presentacion2 {
  margin-top: 10px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 30px;
  margin: 30px;
  justify-items: center;
  grid-area: presentacion2;
}
.main_acerca_de .presentacion2 h2 {
  text-decoration: underline;
}
.main_acerca_de .presentacion2 p {
  padding-top: 10px;
  padding-left: 10px;
}
.main_acerca_de .presentacion2 ul {
  list-style: none;
}
.main_acerca_de .habilidades {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  width: 97%;
  justify-items: center;
  padding: 10px;
  grid-area: habilidades;
  margin: 20px;
}
.main_acerca_de .habilidades .progress {
  margin: 20px;
  height: 20px;
}
.main_acerca_de .habilidades .progress .progress-bar {
  background-color: rgba(255, 136, 1, 0.877);
}
.main_acerca_de .habilidades h2 {
  text-align: center;
  text-decoration: underline;
}
.main_acerca_de .habilidades h3 {
  margin: 20px;
}
.main_acerca_de .horas_de_soporte {
  padding: 10px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  grid-area: horas_de_soporte;
  margin: 10px;
  justify-content: center;
  text-align: center;
}
.main_acerca_de .proyectos {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 10px;
  width: 200px;
  grid-area: proyectos;
  margin: 10px;
  justify-content: center;
  text-align: center;
}
.main_acerca_de .clientes_felices {
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
  padding: 10px;
  grid-area: clientes_felices;
  text-align: center;
}

/* --------------------ESTILO DE LA PAGINA "REANUDAR"------------------------------ */
.main_reanudar {
  display: grid;
  grid-template-areas: "titulo titulo" "resumen experiencia_laboral" "educacion  experiencia_laboral";
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(71, 69, 69);
  margin: 20px;
  grid-area: main;
}
.main_reanudar .reanudar_titulo {
  grid-area: titulo;
  margin: 10px;
  margin-left: 20px;
}
.main_reanudar .reanudar_titulo h1 {
  color: rgba(255, 136, 1, 0.877);
}
.main_reanudar .resumen {
  margin: 10px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  justify-content: center;
  padding: 20px;
  grid-area: resumen;
}
.main_reanudar .resumen h3 {
  text-decoration: underline;
  text-decoration-color: rgba(255, 136, 1, 0.877);
}
.main_reanudar .resumen h4 {
  color: rgb(3, 168, 3);
}
.main_reanudar .resumen p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.main_reanudar .educacion {
  margin: 10px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 20px;
  grid-area: educacion;
}
.main_reanudar .educacion h3 {
  text-decoration: underline;
  text-decoration-color: rgba(255, 136, 1, 0.877);
}
.main_reanudar .educacion h4 {
  color: rgb(3, 168, 3);
}
.main_reanudar .educacion p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.main_reanudar .experiencia_laboral {
  margin: 15px;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 20px;
  grid-area: experiencia_laboral;
}
.main_reanudar .experiencia_laboral h3 {
  text-decoration: underline;
  text-decoration-color: rgba(255, 136, 1, 0.877);
}
.main_reanudar .experiencia_laboral h4 {
  color: rgb(3, 168, 3);
}
.main_reanudar .experiencia_laboral p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.main_reanudar .lista {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.479);
  border-radius: 10px;
  margin: 10px;
  list-style: none;
  padding: 10px;
}
.main_reanudar .badge {
  background-color: rgba(128, 128, 128, 0.479);
  margin: 5px;
}

/*----------------------ESTILO DE LA PAGINA "PORTAFOLIO"-----------------------*/
.MainPortafolio {
  display: grid;
  grid-template-areas: "titulo " "trabajo ";
  justify-content: center;
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(71, 69, 69);
  margin: 20px;
  grid-area: main;
}
.MainPortafolio .TituloPortafolio {
  grid-area: titulo;
  margin: 10px;
}
.MainPortafolio .TituloPortafolio h1 {
  color: rgba(255, 136, 1, 0.877);
}
.MainPortafolio .trabajos_realizados {
  grid-area: trabajo;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.MainPortafolio .trabajos_realizados .card {
  margin: 20px;
  border-color: green;
  background-color: rgba(0, 0, 0, 0.741);
}
.MainPortafolio .trabajos_realizados .card .card-body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.MainPortafolio .trabajos_realizados .card .card-body h5 {
  text-decoration: underline;
}
.MainPortafolio .trabajos_realizados .card .card-body .btn {
  background-color: blue;
  color: white;
  border-style: solid;
  border-color: black;
  transition: 1s;
}
.MainPortafolio .trabajos_realizados .btn:hover {
  transform: scale(1.05);
}

/*----------------------------ESRTILO DE PAGINA "CONTACTO"------------------------------*/
.main_contacto {
  display: grid;
  grid-template-areas: "titulo titulo" "direccion perfiles" "email telefono" "formulario formulario";
  background-color: rgba(24, 23, 23, 0.76);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(71, 69, 69);
  margin: 20px;
  grid-area: main;
  /*--------------------FORMULARIO---------------*/
  /*-----------------EMAIL----------------------------*/
  /*---------------------NUMERO DE TELEFONO-----------------*/
  /*--------------------SOCIAL------------------------*/
  /*--------------------DIRECCION--------------------*/
}
.main_contacto .titulo_contacto {
  margin: 10px;
  padding: 20px;
}
.main_contacto .titulo_contacto h1 {
  color: rgba(255, 136, 1, 0.877);
}
.main_contacto .titulo_seccion {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 136, 1, 0.877);
}
.main_contacto .parrafo {
  text-align: center;
  padding-top: 10px;
  font-size: larger;
}
.main_contacto .formulario {
  background-color: rgba(24, 23, 23, 0.57);
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(50, 193, 6, 0.463);
  padding: 10px;
  margin: 10px;
  grid-area: formulario;
  justify-content: center;
  /*-----------------------CONTROLES DEL FORMULARIO--------------------------*/
}
.main_contacto .formulario .control_nombre {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(223, 220, 220, 0.89);
}
.main_contacto .formulario .control_email {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(223, 220, 220, 0.89);
}
.main_contacto .formulario .control_sujeto {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: rgba(223, 220, 220, 0.89);
}
.main_contacto .formulario .control_mensaje {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  padding: 8px;
  background-color: rgba(223, 220, 220, 0.89);
}
.main_contacto .formulario .btn {
  margin-top: 10px;
  background-color: rgb(3, 168, 3);
  padding: 10px;
}
.main_contacto .email {
  grid-area: email;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
}
.main_contacto .numero_tel {
  grid-area: telefono;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
}
.main_contacto .social {
  grid-area: perfiles;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin-top: 10px;
}
.main_contacto .social .lista_redes {
  list-style: none;
  display: flex;
  justify-content: center;
}
.main_contacto .social .lista_redes a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 1s;
}
.main_contacto a:hover {
  transform: scale(1.5);
}
.main_contacto .direccion {
  grid-area: direccion;
  background-color: rgba(24, 23, 23, 0.76);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(50, 193, 6, 0.463);
  margin: 10px;
  justify-content: center;
}

/*--------------------QUERY RESPONSIVE VISTA MOVIL----------------*/
@media (min-width: 480px) and (max-width: 991px) {
  .nav-item {
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(102, 102, 102, 0.832);
    width: 100px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    grid-template-areas: "header" "main" "footer";
    background-image: url(../img/Fondo-min.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  /*---------------------RESPONSIVE HOME-------------------------------*/
  .mainhome {
    justify-content: center;
  }
  /*---------------------RESPONSIVE HEADER-------------------------------*/
  .nav-item {
    /*background-color: rgba(243, 158, 79, 0.808);*/
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(102, 102, 102, 0.832);
    width: 100px;
    text-align: center;
  }
  /*-------------------------RESPONSIVE ACERCA DE-------------------*/
  .main_acerca_de {
    grid-template-areas: "inicio " "presentacion2" "habilidades" "horas_de_soporte" "proyectos" "clientes_felices";
  }
  .main_acerca_de .presentacion2 {
    width: 97%;
  }
  /*-----------------------RESPONSIVE REANUDAR--------------------*/
  .main_reanudar {
    grid-template-areas: "titulo" "resumen" "educacion " "experiencia_laboral";
    justify-content: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
  }
  .main_reanudar .reanudar_titulo {
    text-align: center;
  }
  .main_reanudar .resumen {
    width: 90%;
    padding: 20px;
    grid-area: resumen;
  }
  /*--------RESPONSIVE PAGINA "CONTACTO"--------------*/
  .main_contacto {
    grid-template-areas: "titulo " "direccion " "perfiles" "telefono" "email" "formulario";
  }
  .main_contacto .titulo_contacto {
    text-align: center;
  }
  .main_contacto .control_nombre {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .main_contacto .control_email {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .main_contacto .control_sujeto {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .main_contacto .control_mensaje {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(223, 220, 220, 0.89);
  }
  .main_contacto .lista_redes {
    margin: 5px;
  }
  /*----------------RESPOSIVE PAGINA PORTAFOLIO--------------------*/
  .MainPortafolio {
    display: grid;
    grid-template-areas: "titulo " "trabajo ";
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 20px;
    grid-area: main;
  }
  .MainPortafolio .TituloPortafolio {
    grid-area: titulo;
    margin: 10px;
  }
}
/*-----------------------RESPONSIVE INTERMEDIO----------------------*/
@media (min-width: 480px) and (max-width: 770px) {
  /*---------------RESPONSIVE INTERMEDIO ACERCA DE------------------*/
  .main_acerca_de {
    grid-template-areas: "inicio inicio inicio" "presentacion2 presentacion2 presentacion2" "habilidades habilidades habilidades" "horas_de_soporte proyectos clientes_felices";
  }
  .presentacion2 {
    width: 97%;
  }
  /*---------------------RESPONSIVE INTERMEDIO CONTACTO--------------------*/
  .main_contacto {
    grid-template-areas: "titulo " "direccion " "perfiles" "telefono" "email" "formulario";
  }
  /*---------------------RESPONSIVE INTERMEDIO REANUDAR---------------------*/
  .main_reanudar {
    grid-template-areas: "titulo" "resumen" "educacion " "experiencia_laboral";
  }
  .mainhome .presentacion {
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(71, 69, 69);
    margin: 20px;
    grid-area: main;
    margin: 30px;
    margin-top: 300px;
    text-align: center;
    padding: 5px;
  }
  .mainhome .presentacion h1 {
    color: rgba(255, 136, 1, 0.877);
    padding: 10px;
  }
  .mainhome .presentacion p {
    color: white;
    padding: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
