.mainAcercaDe{
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "inicio  presentacion2 presentacion2"
    "Habilidades Habilidades Habilidades"
    "HorasDeSoporte Proyectos ClientesFelices";
    justify-items: center;
    @include EstilosMain;
    /*-----------------------------INICIO--------------------*/
    .inicio{
        padding-top: 30px;
        grid-area: inicio;
        margin: 20PX;
        transition: 1s;
        img{
            width: 240px;
            height: 300px;
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(15, 135, 15, 0.649);
            
        }
       
        h1{
            text-decoration: underline;
            color: rgba(255, 136, 1, 0.877);
        }
        
    }
    
    /*-------------------------PRESENTACION------------------------*/
    .presentacion2{   
        margin: 5px;
        background-color: rgba(24, 23, 23, 0.76);
        border-radius: 10px;
        border-style: solid;
        border-color:rgba(50, 193, 6, 0.463);
        padding: 30px;
        justify-items: center;
        grid-area: presentacion2;
        transition: 1s;
        h2{
            text-decoration:underline;
        }
        p{
            padding-top: 10px;
            padding-left: 10px;
        }  
        ul {
            list-style: none;
        } 
    }
    
    /*--------------------------------HABILIDADES---------------------*/
    .habilidades{
        background-color: rgba(24, 23, 23, 0.76);
        border-radius: 10px;
        border-style: solid;
        border-color: rgba(50, 193, 6, 0.463);
        width: 95%;
        /*justify-items: center;*/
        padding: 10px;
        grid-area: Habilidades;
        margin: 20px;  
        transition: 1s;
        .progress{
            margin: 20px;
            height: 20px;
            .progress-bar{
                background-color: rgba(255, 136, 1, 0.877);
            }
        }
        h2{
            text-align: center;
            text-decoration: underline;
        }
        h3{
            margin: 20px;
        }
        
    }
   
    /*--------------------------------HORAS DE SOPORTE-----------------*/
    .HorasDeSoporte{
        padding: 10px;
        background-color: rgba(24, 23, 23, 0.76);
        border-radius: 10px;
        border-style: solid;
        border-color: rgba(50, 193, 6, 0.463);
        grid-area: HorasDeSoporte;
        margin: 10px;
        justify-content: center; 
        text-align: center;
        transition: 1s;
    }
   
    /*-------------------------------PROYECTOS---------------*/
    .Proyectos{
        background-color: rgba(24, 23, 23, 0.76);
        border-radius: 10px;
        border-style: solid;
        border-color:rgba(50, 193, 6, 0.463);
        padding: 10px;
        grid-area: Proyectos;
        margin: 10px;
        justify-content: center;
        text-align: center;
        
    }
   
    /*----------------------------CLIENTES FELICES-------------------*/
    .ClientesFelices{
        background-color: rgba(24, 23, 23, 0.76);
        border-radius: 10px;
        border-style: solid;
        border-color: rgba(50, 193, 6, 0.463);
        margin: 10px;
        justify-content: center;
        padding: 10px;
        grid-area: ClientesFelices;
        text-align: center;
        transition: 1s;
    }
    .ClientesFelices:hover{
        transform: scale(1.1);
    }
}