.MainContacto{
    display: grid;
        grid-template-areas: 
        "Titulo Titulo"
        "Direccion Perfiles"
        "Email Telefono"
        "Formulario Formulario";
        @include EstilosMain;
        .TituloContacto{
            margin: 10px;
            h1{
                color: $ColorH1;
            }
        }
        /*--------------------FORMULARIO---------------*/
        .Formulario{
            background-color: rgba(24, 23, 23, 0.57);
            border-style: solid;
            border-radius: 10px;
            border-color: rgba(50, 193, 6, 0.463);
            padding: 10px;
            margin: 10px;
            grid-area: Formulario;
            justify-content: center;

            /*-----------------------CONTROLES DEL FORMULARIO--------------------------*/
            .ControlNombre{
                width: 45%;
                padding: 8px;
                border-radius: 5px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .ControlEmail{
                width: 54%;
                padding: 8px;
                border-radius: 5px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .ControlSujeto{
                width: 100%;
                margin-top: 10px;
                padding: 8px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .ControlMensaje{
                width: 100%;
                height: 70px;
                margin-top: 10px;
                padding: 8px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .btn{
                margin-top: 10px;
                background-color: rgb(3, 168, 3);
                padding: 10px;
            }
        
        }
       /*------------------TITULO DE LA PAGINA-------------*/
        .Titulo{
            grid-area: Titulo;;
        }
        /*-----------------EMAIL----------------------------*/
        .Email{
            grid-area: Email;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 20px;
            
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin: 10px;
            justify-content: center;
            transition: 1s;
        }
        .Email:hover{
            transform: scale(1.02);
            
        }
         /*---------------------NUMERO DE TELEFONO-----------------*/
        .NumeroTel{
            grid-area: Telefono;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 10px;  
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin: 10px;
            justify-content: center;
            transition: 1s;
        }
        .NumeroTel:hover{
            transform: scale(1.02);
            
        }
        /*--------------------SOCIAL------------------------*/
        .Social{
            grid-area: Perfiles;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 10px;
            margin: 10px;
            
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin-top: 10px;
            justify-content: center;
            transition: 1s;
            .ListaRedes {
                list-style: none;
                display: flex;
                a{
                    color: white;
                    text-decoration: none;
                    margin: 5px;   
                }
                li{
                    transition: 1s;
                }
            }
        }
        .Social:hover{
            transform: scale(1.02);  
        }
        .ListaRedes li:hover{
            transform: scale(1.2);  
        }
        /*--------------------DIRECCION--------------------*/
        .Direccion{
            grid-area: Direccion;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 10px;
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin: 10px;
            justify-content: center;
            transition: 1s;
        }
        .Direccion:hover{
            transform: scale(1.02);  
        }
    }
    