.conteiner{
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "direccion perfiles"
        "email telefono"
        "formulario formulario";
        @include EstilosMain;
        .titulo_contacto{
            margin: 10px;
            h1{
                color: $ColorH1;
            }
        }
        /*--------------------FORMULARIO---------------*/
        .formulario{
            background-color: rgba(24, 23, 23, 0.57);
            border-style: solid;
            border-radius: 10px;
            border-color: rgba(50, 193, 6, 0.463);
            padding: 10px;
            margin: 10px;
            grid-area: formulario;
            justify-content: center;
        
            /*-----------------------CONTROLES DEL FORMULARIO--------------------------*/
            .control_nombre{
                width: 45%;
                padding: 8px;
                border-radius: 5px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .control_email{
                width: 54%;
                padding: 8px;
                border-radius: 5px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .control_sujeto{
                width: 100%;
                margin-top: 10px;
                padding: 8px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .control_mensaje{
                width: 100%;
                height: 70px;
                margin-top: 10px;
                padding: 8px;
                background-color: rgba(223, 220, 220, 0.89);
            }
            .btn{
                margin-top: 10px;
                background-color: rgb(3, 168, 3);
                padding: 10px;
            }
        
        }
       /*------------------TITULO DE LA PAGINA-------------*/
        .titulo{
            grid-area: titulo;;
        }
        /*-----------------EMAIL----------------------------*/
        .email{
            grid-area: email;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 20px;
            
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin: 10px;
            justify-content: center;
            
        }
         /*---------------------NUMERO DE TELEFONO-----------------*/
        .numero_tel{
            grid-area: telefono;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 10px;  
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin: 10px;
            justify-content: center;
        }
        
        /*--------------------SOCIAL------------------------*/
        .social{
            grid-area: perfiles;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 10px;
            margin: 10px;
            
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin-top: 10px;
            justify-content: center;
            transition: 1s;
            .lista_redes {
                list-style: none;
                display: flex;
                a{
                    color: white;
                    text-decoration: none;
                    margin: 5px;   
                }
              
            }
        }
        
        /*--------------------DIRECCION--------------------*/
        .direccion{
            grid-area: direccion;
            background-color: rgba(24, 23, 23, 0.76);
            padding: 10px;
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(50, 193, 6, 0.463);
            margin: 10px;
            justify-content: center;
        }
    }
    