.mainFooter{
    
    background-color: rgb(0, 0, 0);
    grid-area: footer; 
    bottom: 0;
   

    display: grid;
    grid-template-areas: 
    "derechos"
    "redes";
    margin-bottom: 0;
    .derchos{
        grid-area: derechos;
        text-align: center;
        margin: 5px;

    }
    .listaredes{
        grid-area: redes;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        
            li{
                list-style: none;
                margin: 5px;
                
            }
    }
    

}