.mainhome{
    min-height: 80vh;
    
    .presentacion {
       
        @include EstilosMain;
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
        margin-top: 200px;
        padding: 5px;
        
        
       
       
            h1{
                color: $ColorH1;
                padding: 10px;      
            }
            p{
                color: white;
                padding: 10px;     
            }
    }
}
