@media  (min-width: 480px) and (max-width: 991px) {
    .nav-item{
        /*background-color: rgba(243, 158, 79, 0.808);*/
        border-radius: 5px;
        border-style: solid;
        margin: 5px;
        border-color: rgba(102, 102, 102, 0.832);
        width: 100px;
        text-align: center;
    }
}
@media  (min-width: 320px) and (max-width: 480px) {
    body{
       grid-template-areas:  
       "header"
       "main"
       "footer";
       background-image: url(../img/FondoHome.jpg);
       background-position: center;
       background-size: cover;
       background-repeat:no-repeat;
       background-attachment: fixed;
       height: 100%;
       width: 100%;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 
    /*---------------------RESPONSIVE HOME-------------------------------*/
   
    /*---------------------RESPONSIVE HEADER-------------------------------*/
    .nav-item{
        /*background-color: rgba(243, 158, 79, 0.808);*/
        border-radius: 5px;
        border-style: solid;
        margin: 5px;
        border-color: rgba(102, 102, 102, 0.832);
        width: 100px;
        text-align: center
        }
     
    
     /*-------------------------RESPONSIVE ACERCA DE-------------------*/
    .main_acerca_de{
       grid-template-areas: 
       "inicio " 
       "presentacion2"
       "habilidades"
       "horas_de_soporte"
       "proyectos"
       "clientes_felices";
     
       .presentacion2{
        width: 97%;
     }
    }
    /*-----------------------RESPONSIVE REANUDAR--------------------*/
    .main_reanudar{
       grid-template-areas: 
       "titulo"
       "resumen"
       "educacion "
       "experiencia_laboral"
       ;
       justify-content: center;
       background-color: rgba(24, 23, 23, 0.76);
       border-radius: 10px;
       border-style: solid;
       border-color: black;
       margin: 20px;
       .reanudar_titulo{
        text-align: center;
       }

       .resumen{
            width: 90%;
            padding: 20px;
            grid-area: resumen;   
         }
   }
   
   
   /*--------RESPONSIVE PAGINA "CONTACTO"--------------*/
   .main_contacto{
    grid-template-areas: 
    "titulo "
    "direccion "
    "perfiles"
    "telefono"
    "email"
    "formulario";
    .titulo_contacto{
        text-align: center;
        }
    .control_nombre{
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        background-color: rgba(223, 220, 220, 0.89);
    }
    .control_email{
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        background-color: rgba(223, 220, 220, 0.89);
    }
    .control_sujeto{
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        background-color: rgba(223, 220, 220, 0.89);
    }
    .control_mensaje{
        width: 100%;
        height: 70px;
        margin-top: 10px;
        padding: 8px;
        background-color: rgba(223, 220, 220, 0.89);
    }
    .lista_redes {
        margin: 5px;
    }
   }
   /*----------------RESPOSIVE PAGINA PORTAFOLIO--------------------*/
   .MainPortafolio{
    display: grid;
    grid-template-areas: 
    "titulo "
    "trabajo ";
    justify-items: center;
    background-color: rgba(24, 23, 23, 0.76);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 20px;
    grid-area: main;
        .TituloPortafolio{
            grid-area: titulo;
            margin: 10px; 
        }
       
    }
   /* .mainFooter{
        grid-template-areas: 
        "derechos " 
        "redes" ; 
        margin-bottom: 2px;    
    }
    .listaredes{
        grid-area: redes;
        margin-top: 5px;
        display: flex;
        justify-content: center;
            li{
                list-style: none;
                margin: 5px;
            }
    }
*/
   
}
/*-----------------------RESPONSIVE INTERMEDIO----------------------*/

@media  (min-width: 480px) and (max-width: 770px) {
    /*---------------RESPONSIVE INTERMEDIO ACERCA DE------------------*/
    .main_acerca_de{
        grid-template-areas: 
        "inicio inicio inicio"  
        "presentacion2 presentacion2 presentacion2"
        "habilidades habilidades habilidades"
        "horas_de_soporte proyectos clientes_felices";
    }
    .presentacion2{
       width: 97%;
    }
    /*---------------------RESPONSIVE INTERMEDIO CONTACTO--------------------*/
    .main_contacto{
        grid-template-areas: 
        "titulo "
        "direccion "
        "perfiles"
        "telefono"
        "email"
        "formulario";
    }
    /*---------------------RESPONSIVE INTERMEDIO REANUDAR---------------------*/
    .main_reanudar{
        grid-template-areas: 
        "titulo"
        "resumen"
        "educacion "
        "experiencia_laboral";
    }
}