.MainPortafolio{
    display: grid;
    grid-template-areas: 
    "titulo "
    "trabajo ";
    justify-content: center;
    @include EstilosMain;
    .TituloPortafolio{
        grid-area: titulo;
        margin: 10px; 
        h1{
            color: $ColorH1;
        }
    }
    .trabajos_realizados{
        grid-area: trabajo;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            margin: 20px;
            border-color: green;
            background-color: rgba(0, 0, 0, 0.741);
            .card-body{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                h5{
                    text-decoration: underline;
                }
                .btn{
                    background-color: blue;
                    color: white;
                    border-style: solid;
                    border-color: black;
                    transition: 1s;
                }
            }
        }
        .btn:hover{
            transform: scale(1.05);
        }
    }  
}