
/*---------------------VARIABLES------------------*/
$FondoMain:rgba(24, 23, 23, 0.76);
$ColorH1: rgba(255, 136, 1, 0.877);
/*--------------------ESTILOS DE LOS FONDOS DEL MAIN-----*/
@mixin EstilosMain{
    background-color: $FondoMain;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    grid-area: main;
}

/*--------------------------BODY--------------------------------*/
@import 'body';
/*------------------------------HEADER MENU DE NAVEGACION----------------------*/
@import 'header';

/*----------------------------FOOTER----------------------------*/
@import 'footer';

/* --------------------ESTILO DE LA PAGINA "HOME"------------------------------ */
@import 'home';
/* --------------------ESTILO DE LA PAGINA "ACERCA DE"------------------------------ */
@import 'acercaDe';

/* --------------------ESTILO DE LA PAGINA "REANUDAR"------------------------------ */
@import 'reanudar';
/*----------------------ESTILO DE LA PAGINA "PORTAFOLIO"-----------------------*/
@import 'portafolio';

/*----------------------------ESRTILO DE PAGINA "CONTACTO"------------------------------*/
@import 'contacto';


/*--------------------QUERY RESPONSIVE VISTA MOVIL----------------*/
@import 'mediaqueris';
